{% extends 'base.html' %}
{% block header %}
<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
  <!-- Mobile Specific Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Favicon-->
  <link rel="shortcut icon" href="img/fav.png">
  <!-- Author Meta -->
  <meta name="author" content="CodePixar">
  <!-- Meta Description -->
  <meta name="description" content="">
  <!-- Meta Keyword -->
  <meta name="keywords" content="">
  <!-- meta character set -->
  <meta charset="UTF-8">
  <!-- Site Title -->
  <title>Edit Showtime</title>

  <!--
    CSS
    ============================================= -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/linearicons.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/themify-icons.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/nice-select.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/nouislider.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

{% endblock %}
{% block content %}
  <!-- Start Banner Area -->
  <section class="banner-area organic-breadcrumb">
    <div class="container">
      <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
        <div class="col-first">
          <h1>Edit Showtime</h1>
          <nav class="d-flex align-items-center">
            <a href="/">Home<span class="lnr lnr-arrow-right"></span></a>
            <a href="/manage_showtime">Edit Showtime</a>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!-- End Banner Area -->

  <!--================Login Box Area =================-->
    <section class="sample-text-area">
    <div class="container">
      <h3 class="text-heading">Edit Showtime</h3>
      <div class="">

          <form action="/edit_showtime/{{ showtime['showtime_id'] }}" method="post">
              <h3>Date/Time</h3>
              <div class="mt-10">
                  <input type="date" name="date" required class="single-input" value="{{ showtime['time'][0:10]}}">
              </div>
              <div class="mt-10">
                  <input type="time" name="time" required class="single-input" value="{{ showtime['time'][11:19]}}">
              </div>
              <h3>Movie</h3>
              <div class="form-select" name="movie_id" required>
                <select name="movie_id">
                    <option value="" disabled selected hidden>Movie: {{ movie_title }}</option>
                    {% for movie in movies %}
                    <option value="{{movie['movie_id']}}">{{ movie['title'] }}</option>
                    {% endfor %}
                </select>
              </div>
              <h3>Showroom</h3>
                <div class="form-select" name="showroom_id" required>
                        <select name="showroom_id">
                            <option value="" disabled selected hidden>Showroom: {{ showroom_name }}</option>
                            {% for showroom in showrooms %}
                            <option value="{{showroom['showroom_id']}}">{{ showroom['showroom_name'] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" value="submit" class="primary-btn">Edit Showtime</button>
                    <a href="/manage_showtime">Or go back</a>
                    {% for message in get_flashed_messages() %}
                    <div class="flash" style="color:red; background:#FFDEDE;">{{ message }}</div>
                    {% endfor %}


            </form>


            </div>

          </div>

  </section>
{% endblock %}
{% block last %}
  <script src="{{ url_for('static', filename='js/vendor/jquery-2.2.4.min.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
   crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='js/vendor/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.ajaxchimp.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.nice-select.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.sticky.js') }}"></script>
  <script src="{{ url_for('static', filename='js/nouislider.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
  <!--gmaps Js-->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
  <script src="{{ url_for('static', filename='js/gmaps.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>
{% endblock %}
