{% extends 'base.html' %}
{% block header %}
<!DOCTYPE html>
<html lang="zxx" class="no-js">

    <head>
	      <!-- Mobile Specific Meta -->
	      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	      <!-- Favicon-->
	      <link rel="shortcut icon" href="img/fav.png">
	      <!-- Author Meta -->
	      <meta name="author" content="CodePixar">
	      <!-- Meta Description -->
	      <meta name="description" content="">
	      <!-- Meta Keyword -->
	      <meta name="keywords" content="">
	      <!-- meta character set -->
	      <meta charset="UTF-8">
	      <!-- Site Title -->
        <title>Home</title>
	<!--
		CSS
		============================================= -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/linearicons.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/themify-icons.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/nice-select.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/nouislider.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/ion.rangeSlider.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/ion.rangeSlider.skinFlat.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
{% endblock %}
    <body>
{% block content %}
	<!-- start banner Area -->
	<section class="banner-area" style="margin-top: 3em">
		<div class="container">
			<div class="row fullscreen align-items-center justify-content-start">
				<div class="col-lg-12">
					<div class="active-banner-slider owl-carousel">
						<!-- single-slide -->
						<div class="row single-slide">
							<div class="col-lg-5">
								<div class="banner-content">
									<h1>Welcome to E-Cinema booking!</h1>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="banner-img">
									<img class="img-responsive" src="{{ url_for('static', filename='img/banner/banner-img.png') }}" alt="">
								</div>
							</div>
						</div>
						<!-- single-slide -->
						<div class="row single-slide">
							<div class="col-lg-5">
								<div class="banner-content">
									<h1>Find the movie for you!</h1>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="banner-img">
									<img class="img-fluid" src="{{ url_for('static', filename='img/banner/banner-img.png') }}" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->

	<!-- start product Area -->
	<section class="owl-carousel active-product-area section_gap">
		<!-- single product slide -->
		<div class="single-product-slider">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-6 text-center">
						<div class="section-title">
							<h1>Current Movies</h1>
							<p>See what is brand new!</p>
						</div>
					</div>
				</div>
				<div class="row">
					  <!-- single product -->
            {% for movie in current_movies %}
					  <div class="col-lg-3 col-md-6">
						    <div class="single-product">
							      <img class="img-fluid" style="width: 255px; height: 450px"src="{{ movie['picture'] }}" alt="">
							<div class="product-details">
								<h6>{{ movie['title'] }}</h6>
								<div class="rating">
									  <h6>Rated: {{ movie['rating'] }}</h6>
                </div>
                <iframe width="255" height="200" src="{{ movie['video'] }}" frameborder="0" allowfullscreen></iframe>
								<div class="prd-bottom">

									<a href="" class="social-info">
										<span class="ti-bag"></span>
										<p class="hover-text">Buy</p>
									</a>
									<a href="/movie_details/{{movie['movie_id']}}" class="social-info">
										  <span class="lnr lnr-move"></span>
										  <p class="hover-text">View Details</p>
									</a>
								</div>
							</div>
						</div>
					</div>
          {% endfor %}


        </div>
			</div>
		</div>
		<!-- single product slide -->
		<div class="single-product-slider">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-6 text-center">
						<div class="section-title">
							<h1>Coming Soon!</h1>
							<p>What is coming to a theater near you!</p>
						</div>
					</div>
				</div>
				<div class="row">
					<!-- single product -->
            {% for movie in coming_movies %}
					  <div class="col-lg-3 col-md-6">
						    <div class="single-product">
							      <img class="img-fluid" src="{{ movie['picture'] }}" alt="">
							      <div class="product-details">
								        <h6>{{ movie['title'] }}</h6>
								        <div class="rating">
									          <h6>Rated: {{ movie['rating'] }}</h6>
                        </div>
                        <iframe width="255" height="200" src="{{ movie['video'] }}" frameborder="0" allowfullscreen></iframe>
								        <div class="prd-bottom">

									          <a href="" class="social-info">
										            <span class="ti-bag"></span>
										            <p class="hover-text">Buy</p>
									          </a>
									          <a href="/movie_details/{{ movie['movie_id']}}" class="social-info">
										            <span class="lnr lnr-move"></span>
										            <p class="hover-text">View Details</p>
									          </a>
								        </div>
							      </div>
						    </div>
					  </div>
            {% endfor %}

        </div>
		</div>
	</section>
	<!-- end product Area -->
{% endblock %}
{% block last %}
	<script src="{{ url_for('static', filename='js/vendor/jquery-2.2.4.min.js') }}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	 crossorigin="anonymous"></script>
	<script src="{{ url_for('static', filename='js/vendor/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.ajaxchimp.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.nice-select.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.sticky.js') }}"></script>
	<script src="{{ url_for('static', filename='js/nouislider.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/countdown.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="{{ url_for('static', filename='js/gmaps.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>
{% endblock %}
