{% extends 'base.html' %}
{% block header %}
<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>E-Cinema Manage Movies</title>
	<!--
		   CSS
		   ============================================= -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/linearicons.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/themify-icons.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/nice-select.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/nouislider.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/ion.rangeSlider.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/ion.rangeSlider.skinFlat.css') }}" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
{% endblock %}
{% block content %}
	<!-- start banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Manage Movies</h1>
					<nav class="d-flex align-items-center">
						<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="manage_movies.html">Manage Movies</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->
<section class="button-area">
		<div class="container border-top-generic whole-wrap pb-100">
	<div class="section-top-border" style="">
				<h3 class="mb-10" style="margin-bottom: 2em">Manage Movies</h3>
				<div class="row">
					<div class="col-md-4">
						<div class="single-defination">
                            <div class="button-group-area mt-40">
                                <a href="create_movie" class="genric-btn primary e-large" style="font-size: 2em">Add Movie</a>
                             </div>
						</div>
					</div>
				</div>
			</div>
            <div class="order_details_table">
				<h2>Manage Movies</h2>
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								  <th scope="col">Movie Title</th>
								  <th scope="col">Director</th>
                  <th scope="col">Producer</th>
                  <th scope="col">Synopsis</th>
                  <th scope="col">Duration</th>
								  <th scope="col">Rating</th>
                  <th scope="col">Category</th>
                <th scope="col">Edit</th>
								<th scope="col">Delete</th>
							</tr>
						</thead>
						<tbody>
                <!-- Start Single Promotion -->
                {% for movie in movies %}
							<tr>
								<td>
									<h4>{{ movie['title'] }}</h4>
								</td>
                                <td>
                                    <p>{{ movie['director'] }}</p>
                                </td>
                                <td>
                                    <p>{{ movie['producer'] }}</p>
                                </td>
                                <td>
                                    <p>{{ movie['synopsis'] }}</p>
                                </td>

                                <td>
                                    <p>{{ movie['duration_as_minutes'] }}</p>
                                </td>
								<td>
									<h5>{{ movie['rating'] }}</h5>
								</td>
								<td>
									<h5>{{ movie['category'].upper() }}</h5>
								</td>
                <td>

                    <form method="post">
                        <input type="hidden" name="edit_movie_id" value="{{ movie['movie_id'] }}">
                        <button type="submit" class="genric-btn">Edit Movie</button>
                    </form>
                                </td>
								                <td>
                                    <form method="post">
                                        <input type="hidden" name="delete_movie_id" value="{{ movie['movie_id'] }}">
                                        <button type="submit" class="genric-btn danger">Delete Movie</button>
                                    </form>
								</td>
              </tr>
              {% endfor %}
						</tbody>
					</table>
				</div>
			      </div>
            <div class="button-group-area mt-40">
                <a href="/admin" class="genric-btn primary e-large" style="font-size: 2em">Back to Admin</a>
            </div>

    </div>
</section>
{% endblock %}
{% block last %}

	<script src="{{ url_for('static', filename='js/vendor/jquery-2.2.4.min.js') }}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	 crossorigin="anonymous"></script>
	<script src="{{ url_for('static', filename='js/vendor/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.ajaxchimp.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.nice-select.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.sticky.js') }}"></script>
	<script src="{{ url_for('static', filename='js/nouislider.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/countdown.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="{{ url_for('static', filename='js/gmaps.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>
{% endblock %}
