{% extends 'base.html' %}
{% block header %}
<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Seat Selection</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
	<!--
            CSS
            ============================================= -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/linearicons.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/themify-icons.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/nice-select.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/nouislider.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
{% endblock %}

{% block content %}

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Seat Selection</h1>
					<nav class="d-flex align-items-center">
						<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="category.html">Seat Selection</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->
	<!-- Start Sample Area -->
		<div class="container">
			<h3 class="text-heading">Availability</h3>
            <a href="#" class="genric-btn success circle e-large">Available</a>
            <a href="#" class="genric-btn danger circle e-large">Taken</a>
		</div>
	<!-- End Sample Area -->
	<!-- Start Button -->
	<section class="button-area">
        <div id = "displaySelectedSeats" class="container border-top-generic">
            <div id= "seatSlots" class="container border-top-generic">
                  <h3 class="text-heading">Select Seats</h3>
                    <img src="static/img/temp_screen.png" alt="">
            {% for ticket in tickets %}
            <!-- remove this comment to see the seats list -->
            <!-- <h2>{{ ticket }} </h2>-->
            {% endfor %}

                
                
            </div>
            <div>
                <br><br>
            <a href="/checkout" class="genric-btn primary e-large arrow">Next <span class="lnr lnr-arrow-right"></span></a>
            </div>
        </div>
        <script>
        

            /**
             * Makes sure the HTML and CSS have been loaded
             * first before running any Javascript to stop
             * potential errors.
             */
            $(function(){

                var array = [""];
                var db = {};
                
                var newRow = "<div class='button-group-area mt-40'>\n";
                readJson(db);
                 /**
                 * Will load a hash map with all the JSON 
                 * attributes and their cooresponding values.
                 */
                function readJson(db){

                    var rows = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O"];
                    var seatInfo = JSON.parse('{{tickets | tojson | safe}}');
                    var capacity = seatInfo.capacity;
                    var rowSize = seatInfo.row;
                    var seatsArr = seatInfo.seats;
                    var rowNum = (capacity % rowSize == 0) ? (capacity / rowSize) : ((capacity / rowSize) + 1);
                    console.log(rowNum);
                    console.log(rowNum);
                    for(var i = 0; i < rowNum; i++){
                        var startSection = "<div class='button-group-area mt-40'> <a href='#' class='genric-btn default circle'>" + rows[i] + " Section</a>";
                        //$("#seatSlots").append(startSection);
                        
                        for(var j = 0; j < rowSize && capacity ; j++){
                            startSection += "<a href='#' class='genric-btn danger circle'>" + rows[i]  + "" + (j+1) +"</a>";
                        }
                        startSection += "<a href='#' class='genric-btn default circle'>" + rows[i] + " Section</a>"; 
                        $("#seatSlots").append(startSection);
                        
                    }



                }//buildJSDB


            });
        </script>
	</section>
	<!-- End Button -->
  {% endblock %}
  {% block last %}

	<script src="{{ url_for('static', filename='js/vendor/jquery-2.2.4.min.js') }}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	 crossorigin="anonymous"></script>
	<script src="{{ url_for('static', filename='js/vendor/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.ajaxchimp.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.nice-select.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.sticky.js') }}"></script>
	<script src="{{ url_for('static', filename='js/nouislider.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="{{ url_for('static', filename='js/gmaps.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>
{% endblock %}
