{% extends 'base.html' %}
{% block header %}
<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
  <!-- Mobile Specific Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Favicon-->
  <link rel="shortcut icon" href="img/fav.png">
  <!-- Author Meta -->
  <meta name="author" content="CodePixar">
  <!-- Meta Description -->
  <meta name="description" content="">
  <!-- Meta Keyword -->
  <meta name="keywords" content="">
  <!-- meta character set -->
  <meta charset="UTF-8">
  <!-- Site Title -->
  <title>E-Cinema Booking</title>
  <!--
      CSS
      ============================================= -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/linearicons.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/themify-icons.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/nice-select.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/nouislider.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/ion.rangeSlider.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/ion.rangeSlider.skinFlat.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
{% endblock %}

{% block content %}
  <!-- Start Banner Area -->
  <section class="banner-area organic-breadcrumb">
    <div class="container">
      <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
        <div class="col-first">
          <h1>{{ movie['title'] }}</h1>
          <nav class="d-flex align-items-center">
            <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
            <a href="#">Movies<span class="lnr lnr-arrow-right"></span></a>
            <a href="#">{{ movie['title'] }}</a>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!-- End Banner Area -->

  <!--================Single Product Area =================-->
  <div class="product_image_area">
    <div class="container">
      <div class="row s_product_inner">
        <div class="col-lg-6">
            <div class="single-prd-item">
              <img class="img-fluid" src="{{ movie['picture'] }}"alt="">
            </div>
        </div>
        <div class="col-lg-5 offset-sm-1">
          <div class="s_product_text">
            <h3>{{ movie['title']}}</h3>
            <h2>MPAA Rating: {{ movie['rating'] }}</h2>
            <ul class="list">
                <li><a class="active"><span>Genre</span>: {{ movie['category'].title() }}</a></li>
                <li><a class="active"><span>Director</span>: {{ movie['director'].title() }}</a></li>
                <li><a class="active"><span>Producer</span>: {{ movie['producer'].title() }}</a></li>
                <li><a class="active"><span>Cast</span>: {{ movie['cast'].title() }}</a></li>

            </ul>
            <p>{{ movie['synopsis'] }}</p>
            <iframe width="500" height="250" src="{{ movie['video'] }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            {% if is_current %}
                        <form action="#" style="">
              <h4>Choose a Showtime:</h4>
              <div class="input-group-icon mt-10">
                <div class="icon"><i class="fa " aria-hidden="true"></i></div>
                <div class="form-select" id="default-select">
                      <select required>
                          <option value="">Showtimes</option>
                          {% for showtime in showtimes %}
                          <option value="{{showtime['showtime_id']}}">{{ showtime['time'].strftime("%B %d, %y  :  %I:%M %p") }}</option>
                          {% endfor %}
                  </select>
                </div>
              </div>



            <div class="card_area d-flex align-items-center">
                <a class="primary-btn" style="margin-top: 1em" href="seat_selection.html">Book this Movie</a>
            </div>
                        </form>
                        {% else %}
                        <div class="card_area d-flex align-items-center">
                            <a class="primary-btn" style="margin-top: 1em" href="#">Coming Soon</a>
                        </div>
                        {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--================End Single Product Area =================-->

  <!--================Product Description Area =================-->
  <section class="product_description_area">
    <div class="container">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Reviews</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
          <p>Spider-Man: Far From Home is a 2019 American superhero film based on the Marvel Comics character Spider-Man, co-produced by Columbia Pictures and Marvel Studios, and distributed by Sony Pictures Releasing. It is the sequel to Spider-Man: Homecoming (2017) and the twenty-third film in the Marvel Cinematic Universe (MCU). The film is directed by Jon Watts, written by Chris McKenna and Erik Sommers, and stars Tom Holland as Peter Parker / Spider-Man, alongside Samuel L. Jackson, Zendaya, Cobie Smulders, Jon Favreau, J. B. Smoove, Jacob Batalon, Martin Starr, Marisa Tomei, and Jake Gyllenhaal. In Spider-Man: Far From Home, Parker is recruited by Nick Fury and Mysterio to face the Elementals while he is on a school trip to Europe.

                        Discussions had begun for a sequel to Spider-Man: Homecoming by October 2016, and the project was confirmed later that year. Holland was set to return in July 2017, with Watts and the writers also returning by the end of the year. In 2018, Jackson and Gyllenhaal joined the cast as Fury and Mysterio, respectively. Holland revealed the sequel's title ahead of filming, which began in July 2018 and took place in England, the Czech Republic, Italy, and the New York metropolitan area. Production wrapped in October 2018. The film's marketing campaign attempted to avoid revealing spoilers for Avengers: Endgame prior to that film's April 2019 release.

                        Spider-Man: Far From Home premiered in Hollywood on June 26, 2019, and was theatrically released in the United States on July 2, in 3D and IMAX. The film was positively reviewed for its humor, visual effects, and performances (particularly those of Holland and Gyllenhaal). It has grossed over $1.1 billion worldwide, making it the first Spider-Man film to pass the billion-dollar mark, the third-highest-grossing film of 2019, the 23rd-highest-grossing film of all time, as well as becoming Sony Pictures' highest-grossing film. </p>

        </div>
      </div>
    </div>
  </section>
  <!--================End Product Description Area =================-->
  {% endblock %}
  {% block last %}

  <!-- End footer Area -->
  <script src="{{ url_for('static', filename='js/vendor/jquery-2.2.4.min.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
   crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='js/vendor/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.ajaxchimp.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.nice-select.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.sticky.js') }}"></script>
  <script src="{{ url_for('static', filename='js/nouislider.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
  <!--gmaps Js-->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
  <script src="{{ url_for('static', filename='js/gmaps.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>

</html>
{% endblock %}
